.heading-1 {
  font-size: 4.56vmin;

}

.heading-2 {
  font-size: 5.56vmin;

}

.heading-3 {
  font-size: 6.56vmin;

}

.heading-4 {
  font-size: 7.56vmin;

}

.body-1 {
  font-size: 2.56vmin;

}

.body-2 {
  font-size: 3.56vmin;
}

.body-3 {
  font-size: 4.56vmin;

}

.body-4 {
  font-size: 5.56vmin;

}

.body-5 {
  font-size: 6.56vmin;

}
